{% extends "root/main/main.html" %}
{% load i18n %}
{% block page_title %}
Password reset
{% endblock %}
{% block content %}
{% if validlink %}
<!-- password reset confirm -->
<div style="padding-left:2%;padding-right:2%;margin-bottom:1%;margin-top:1%">
    <div class="alert alert-secondary" role="alert">
        Password reset:
    </div>
    <div style="margin-left:auto;margin-right:auto">
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
    </div>
</div>
{% else %}
<div style="padding-left:2%;padding-right:2%;margin-bottom:1%;margin-top:1%">
    <div class="alert alert-secondary" role="alert">
        {% trans "Password reset failed" %}
    </div>
</div>
{% endif %}

{% endblock %}
