{% extends "root/main/main.html" %}
{% load i18n %}
{% block content %}
<!-- password reset done -->
<div style="padding-left:2%;padding-right:2%;margin-bottom:1%;margin-top:1%">
    <div class="jumbotron bg-light">
      <h1 class="display-4">Password reset!</h1>
        <p class="lead">{% trans "Email with password reset instructions has been sent." %}</p>
      <hr class="my-4">
      <p>Do not forget to:</p>
        <ul>
            <li>Check your mail for password reset link!</li>
        </ul>
    </div>
</div>
{% endblock %}
